<!-- <div
  class="hero min-h-screen"
  style="
    background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);
  "
>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Aplicación de países</h1>
      <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
        excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
        id nisi.
      </p>
      <button routerLink="/country" class="btn btn-primary">Empezar</button>
    </div>
  </div>
</div> -->

<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row">
    <img
      src="https://static.vecteezy.com/system/resources/thumbnails/043/377/199/small/a-world-map-displayed-against-a-solid-blue-background-photo.jpg"
      class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">CataMap.</h1>
      <p class="py-6">
        Busca y encuentra información básica de países, ciudades y regiones.
      </p>
      <button routerLink="/country" class="btn btn-primary">Comenzar</button>
    </div>
  </div>
</div>


