<section class="mx-10">
  <h1 class="text-3xl">{{ country().name }}</h1>
  <h2 class="text-xl font-thin">
    Población {{ country().population | number }}
  </h2>
</section>

<section class="stats shadow mx-5">
  <div class="stat place-items-center">
    <div class="stat-title">Población País</div>
    <div class="stat-value">{{ country().population | number }}</div>
    <div class="stat-desc">Desde {{ currentYear() }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Capital</div>
    <div class="stat-value text-secondary">{{ country().capital }}</div>
    <div class="stat-desc text-secondary">{{ country().region }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Idioma</div>
    <div class="stat-value">{{ country().languages }}</div>
    <div class="stat-desc">{{ country().name }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Limita con:</div>
    <div class="stat-value">{{ country().borders }}</div>
    <div class="stat-desc">{{ country().region }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Moneda</div>
    <div class="stat-value">{{ country().currencies.name }}</div>
    <div class="stat-desc">{{ country().currencies.symbol }}</div>
  </div>
</section>

<section class="mb-2">
  <div class="">
    <img [alt]="country().name" [src]="country().flagSvg" />
  </div>
  <!-- <div class="">
    <img
      class="blur brightness-75"
      [alt]="country().name"
      [src]="country().flagSvg"
    />
  </div> -->
  <!-- <div class="diff-resizer"></div> -->
</section>
